@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Boats.IndexModel
@{
    ViewData["Title"] = "List boats";
}

<h1>List of boats</h1>

<p>
    <a asp-page="CreateBoat">Create a new boat</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <form method="get">
                    <button type="submit" class="btn btn-link" name="SortBy" value="ID">ID</button>
                </form>
            </th>
            <th>BoatType</th>
            <th>Model</th>
            <th>SailNumber</th>
            <th>YearOfConstruction</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(Boat item in Model.Boats)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TheBoatType</td>
                <td>@item.Model</td>
                <td>@item.SailNumber</td>
                <td>@item.YearOfConstruction</td>
                <td><a asp-page="DeleteBoat" asp-route-sailNumber="@item.SailNumber">Delete</a> |
                <a asp-page="EditBoat" asp-route-sailNumber="@item.SailNumber">Edit</a></td>
            </tr>
        }

    </tbody>
</table>